{% extends 'school/layout.html'%} {% block content%}
<div class="container"><br><br>
    <p style="background-color: rgb(23, 23, 68); margin:auto; color: white;">
        <a href="/index2">
            HOME
        </a>
    </p><br><br>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div>
                {% for f in messages%}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
            </button> {{f}}
                </div>
                {%endfor%}
            </div>

            <form method="POST" action="/get_tea" style="margin-left: 150px;">
                {%csrf_token%}
                <div class="form-group row"><br>
                    <label for="inputText" class="col-sm-2 col-form-label">FIRST NAME</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="fname" id="inputText" placeholder="first name" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputText" class="col-sm-2 col-form-label">LAST NAME</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lname" id="inputText" placeholder="last name" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputDate" class="col-sm-2 col-form-label">COURSE</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="course" id="inputDate" placeholder="course name" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputText" class="col-sm-2 col-form-label">POSITION</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="post" id="inputText" placeholder="class" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputText" class="col-sm-2 col-form-label">EMAIL</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="email" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputText" class="col-sm-2 col-form-label">SALARY</label>
                    <div class="col-sm-6">
                        <input type="currency" class="form-control" name="salary" id="inputCurrency" placeholder="salary" required>
                    </div>
                </div>

                <div class="form-group row"><br>
                    <label for="inputDate" class="col-sm-2 col-form-label">DATE JOINED</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="datej" id="inputDate" placeholder="date joined" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"> ADD TEACHER</button>


            </form>
        </div>
    </div>

</div>
{%endblock content%}